# Copy to test/.env.e2e (gitignored) to run e2e against separate DB
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_NAME=flight_booking_db_e2e

JWT_SECRET=test_secret
JWT_EXPIRES_IN=1d

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASS=your_mailtrap_pass
MAIL_FROM=no-reply@flightbooking.com
